/*MAIN CSS*/

.center-wrapper{  margin:auto;  text-align: center; width:100%; } 
#categoriesPage form.ui-listview-filter { display:none; }
.item_image { float:left; padding: 0 15px 0 0; }
.item_more_info { clear:both; }
#qtyForm_label { float:left;  margin-top:0.3em;  }
#basic { width:100px;  margin: 0 0 0 5em; }
.addCartBtn, .cancelBtn { clear:both; }
.item_desc { padding:2em 0 0 0; }
#qty_header {  height:5em; }

.ui-listview-filter {left: 15px; position: fixed; top:55px; width: 100%; z-index: 1000;}
#search_data, #category_data { margin-top:25px; }

div#subTotalBox { left:0;background-color:gray; height:50px;  position: fixed; top:43px; width: 100%; z-index: 1000; }
#cart_data { margin-top:35px; }
.subTotal_label { float:left; }
.item_qty_label { float: right; width:65px; }



